body {
    background-color: #fff;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    max-width: 1920px; 
    max-height: 1080px; 
    margin: 0 auto;
    padding: 0 2px;
    background-image: url('photos/_DSC0400.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    animation: scroll 30s linear infinite;
}

/* Mobile devices */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
    main {
        padding: 20px;
    }
    .hero {
        text-align: center;
    }
}

/* Tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    nav ul li {
        margin: 0 5px;
    }
    main {
        padding: 30px;
    }
    .hero {
        text-align: center;
    }
}

/* Header */
header {
    color: #fff;
    padding: 10px;
    text-align: left;
}

/* Navigation */
.navbar {
    position: relative;
    background-color: #333;
    overflow: hidden;
    z-index: 1000;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #4CAF50;
    color: white;
}


/* Main Content */
main {
    max-width: 2000px;
    padding: 40px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: rgba(44, 26, 55, 0); 
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: left;
    padding-left: 10px;
    color: #fff;
    background-color: rgba(44, 26, 55, 0); 
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #000;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.1em;
    margin-bottom: 1em;
}

a {
    color: #800080;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #800080;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #000;
}

section {
    margin-bottom: 2em;
}

p {
    line-height: 1.6;
}

.container {
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 15px;
}
  
.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
  
.portfolio-item {
    flex: 1;
    min-width: calc(33.333% - 15px); /* Adjust this value for desired column count */
    max-width: calc(33.333% - 15px); /* Adjust this value for desired column count */
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
}
  
.portfolio-item img,
.portfolio-item video {
    max-width: 100%;
    height: auto;
}

.scrolling-background {
    position: absolute;
    width: 100%;
    height: 200%;
    background-image: url('your-background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    animation: scrollBackground 10s linear infinite;
}

@keyframes scrollBackground {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

.full-quality-image {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  .back-to-portfolio-button {
    position: fixed;
    top: 10px;
    left: 10px;
    display: inline-block;
    padding: 8px 12px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #333;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .back-to-portfolio-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .hero h1 {
    font-size: 3em; 
    font-weight: 900; 
    font-family: 'Roboto', sans-serif; 
    color: #000; 
}

.hero p {
    font-size: 1.2em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #000;
    text-align: left;
    padding: 0 5%;
}

#contact {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
}

#contact h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
}

#contact .form-control {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

#contact .form-control::placeholder {
    color: #fff;
}

#contact .form-control:focus {
    box-shadow: none;
    border-color: #800080;
}

#contact .btn {
    background-color: #800080;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

#contact .btn:hover {
    background-color: #000;
}